
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,
body {
    background-color: #fff;
    color: #636b6f;
    font-weight: 200;
    margin: 0;


}

.details3 h1 {
    font-size: 65px;
    font-weight: 750;
    margin-left: 30px;
    -webkit-text-fill-color:  #d6edff;
}


.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}


.m-b-md {
    margin-bottom: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* /Cards/*/
.container-card {
    width: 100%;
    /* display: flex; */
    max-width: 1000px;
    margin: auto;
    background:linear-gradient(50deg, #02204B, #00C1FF);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 8px;
    position: center;

}

.container-card2 {
    /* display: flex; */
    width: 100%;
    /* display: flex; */
    max-width: 1000px;
    margin: auto;
    background:linear-gradient(50deg, #02204B, #00C1FF);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 8px;
    position: center;

}

.title-cards {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #7a7a1a;
}

.card_ {
    width: 98%;
    margin-top: 10%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
}



.card_:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card_ img {
    width: top;
    height: 250px;
}

.card_ .contenido-card {
    padding: 15px;
    text-align: center;
}

.card_ .container-card h5 {
    margin-bottom: 15px;
    color: #7a7a7a;
}

.des  {
    font-size:13px;
    color: #320eff;
}

.card_ .container-card p {
    line-height: 1.8;
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 5px;
}

.card_ .container-card a {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}

.card_ .container-card a:hover {
    background: #2fb4cc;
    color: #fff;
}

@media only screen and (min-width:280px) and (max-width:768px) {
    .container-card {
        flex-wrap: wrap;
    }

    .card_ {
        margin: 15px;
    }
    .linea {
        background: linear-gradient(30deg, #2D9494, #020226);
        height: 5px;
        padding: 0;
        margin: 20px auto 0 auto;
      }
      .cardd {
        margin-top: 25%;

    }
    .details3 h1 {
        font-size: 30px;
        font-weight: 750;
        margin-left: 10px;
        margin-top: 110px;
        -webkit-text-fill-color:  #d6edff;
    }
    .des iframe{
        width: 150px;
        height:150px;
    }

}
.cardd {
    margin-top: 5%;

}

@media only screen and  (max-width:1000px) {

    .linea {
        background: linear-gradient(30deg, #2D9494, #020226);
        height: 5px;
        padding: 0;
        margin: 20px auto 0 auto;
      }
      .cardd {
        margin-top: 18%;

    }
}

